
src/__pycache__/Ui_052_desligar_bienes.cpython-311.pyc
src/__pycache__/Ui_051_asignacion_bienes.cpython-311.pyc
src/__pycache__/Ui_005_bienes.cpython-311.pyc
src/__pycache__/Ui_004_departamentos.cpython-311.pyc
src/__pycache__/Ui_003_empleados.cpython-311.pyc
src/__pycache__/Ui_002_usuarios.cpython-311.pyc
src/__pycache__/Ui_001_login.cpython-311.pyc
src/__pycache__/Ui_000_mdi.cpython-311.pyc
model/__pycache__/Empleados.cpython-311.pyc
model/__pycache__/Usuarios.cpython-311.pyc
model/__pycache__/desligar.cpython-311.pyc
model/__pycache__/Departamentos.cpython-311.pyc
model/__pycache__/Bienes.cpython-311.pyc
model/__pycache__/Asignacion.cpython-311.pyc
*.pyc
